* {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

h1, h2, h3, h4, h5, h5 {
  font-family: 'Ubuntu';
}

body, html, #root {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}